.header {
	position: fixed;
	top: 0;
	left: 0;
    right: 0;
    margin: 0 auto;
	width: 100%;
	height: 70px;
	background-color: #FF0000;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	justify-content: space-between;

	.logo {
		display: block;
		height: 40px;
		width: auto;
		margin: auto;
	}

	.logo-images{
		height: 100%;
		width: auto;
	}

	.search {
		display: grid;
		grid-template-columns: 11fr 1fr;
		width: 70%;
		margin: auto;
		border: 1px solid #ccc;
		border-radius: 5px;
		overflow: hidden;
	}

	.search-input {
		padding: 10px 15px;
		border: none;
		font-size: 16px;
		color: #666;
	}

	.search-button {
		background-color: white; 
		color: white;
		border: none;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
	.search-button:hover {
    	background-color: red;
	}

	.search-icon {
		font-size: 15px;
		font-weight: bold;
		margin: auto;
	}
}

.nav {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	background-color: #FF3333;
	position: fixed;
	top: 0;
	left: 0;
    right: 0;

	.nav-item {
		margin: 10px 20px;
		font-weight: bold;
	}
}

.bodyweb {
	.bg{
		width: 100%;
		height: 500px;
	}
}